<?xml version="1.0" encoding="UTF-8"?>
<?include defines.wxi ?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
    <Feature Id="LanExchange" Level="1" Title="$(var.Product)" Display="expand" Absent="disallow" AllowAdvertise="no" ConfigurableDirectory="INSTALLDIR">
      <ComponentRef Id="LanExchange.exe"/>
      <ComponentRef Id="LanExchange.SDK.dll"/>
      <ComponentRef Id="LanExchangeShortcut"/>
      <Feature Id="WMIViewer" Level="2" Title="WMI Viewer" AllowAdvertise="no" Description="WMI viewer administration tool.">
        <ComponentRef Id="WMIViewer.exe"/>
        <ComponentRef Id="WMIViewer.xml" />
      </Feature>
      <Feature Id="Addons" Level="2" Title="Addons" AllowAdvertise="no" Display="expand">
        <Feature Id="RadminAddons" Title="Radmin® Viewer" Level="1" AllowAdvertise="no" Description="Radmin® Viewer commands in context menu. Optional replacement of computer icons.">
          <ComponentRef Id="RadminViewer.xml" />
        </Feature>
      </Feature>
      <Feature Id="Plugins" Level="1" Title="Plugins" Display="expand" Absent="disallow" AllowAdvertise="no" Description="LanExchange plugins.">
        <Feature Id="Network" Title="Network" Level="1" Absent="disallow" AllowAdvertise="no" Description="Local Area Network browser of computers and shares.">
          <ComponentRef Id="LanExchange.Plugin.Network.dll" />
          <ComponentRef Id="Default.xml" />
        </Feature>
        <Feature Id="Users" Title="Users" Level="1" AllowAdvertise="no" Description="Active Directory browser of organization units and users.">
          <ComponentRef Id="LanExchange.Plugin.Users.dll" />
        </Feature>
        <Feature Id="Win7" Title="Win7" Level="2" AllowAdvertise="no" Description="Windows® 7 features support.">
          <ComponentRef Id="LanExchange.Plugin.Win7.dll" />
          <ComponentRef Id="Microsoft.WindowsAPICodePack.dll" />
          <ComponentRef Id="Microsoft.WindowsAPICodePack.Shell.dll" />
        </Feature>
      </Feature>
    </Feature>
  </Fragment>
</Wix>