<?xml version="1.0" encoding="utf-8"?>
<?include Defines.wxi ?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id="INSTALLDIR">
      <Component Id="LanExchange.exe" Guid="6E872465-039C-455A-A413-74B4AE08E86D"> 
        <File Id='LanExchange.exe' Source='$(var.SourceDir)LanExchange.exe'/>
      </Component>
      <Component Id="WMIViewer.exe" Guid="A1CAFBF8-0BE2-4B63-82E4-E407DD851B02">
        <File Id='WMIViewer.exe' Source='$(var.SourceDir)WMIViewer.exe'/>
      </Component>
      <Component Id='LanExchange.SDK.dll' Guid="340AE8C6-C70D-49D0-BA91-6F1FFCD422B2">
        <File Id='LanExchange.SDK.dll' KeyPath='yes' Source='$(var.SourceDir)LanExchange.SDK.dll'/>
      </Component>
      <Component Id="LanExchange.Plugin.Network.dll" Guid="84728A8A-6A8D-4467-8296-A87CBB288667">
        <File Id='LanExchange.Plugin.Network.dll' KeyPath='yes' Source='$(var.SourceDir)LanExchange.Plugin.Network.dll'/>
      </Component>
      <Component Id="LanExchange.Plugin.Users.dll" Guid="7671C1F3-76BF-400B-B8F5-D17A27B2E2B1">
        <File Id='LanExchange.Plugin.Users.dll' KeyPath='yes' Source='$(var.SourceDir)LanExchange.Plugin.Users.dll'/>
      </Component>
      <Component Id="LanExchange.Plugin.Win7.dll" Guid="F800769F-5AAB-4407-9DA2-9B9EFCD91630">
        <File Id='LanExchange.Plugin.Win7.dll' KeyPath='yes' Source='$(var.SourceDir)LanExchange.Plugin.Win7.dll'/>
      </Component>
      <Component Id="Microsoft.WindowsAPICodePack.dll" Guid="7D336C44-CC15-4F3D-B0F7-CB77F0532E2B">
        <File Id='Microsoft.WindowsAPICodePack.dll' KeyPath='yes' Source='$(var.SourceDir)Microsoft.WindowsAPICodePack.dll'/>
      </Component>
      <Component Id="Microsoft.WindowsAPICodePack.Shell.dll" Guid="84320F78-8FD8-48E8-94A1-DBD2EF916F83">
        <File Id='Microsoft.WindowsAPICodePack.Shell.dll' KeyPath='yes' Source='$(var.SourceDir)Microsoft.WindowsAPICodePack.Shell.dll'/>
      </Component>
      <Directory Id='Addons' Name='Addons'>
        <Component Id="Default.xml" Guid="75CD74AF-D879-4C07-8450-9A43717E456C">
          <File Id='Default.xml' KeyPath='yes' Source='$(var.SourceDir)Addons\Default.xml'/>
        </Component>
        <Component Id="RadminViewer.xml" Guid="D00E2705-5A80-4240-AAE1-3B68CF7C6C4D">
          <File Id='RadminViewer.xml' KeyPath='yes' Source='$(var.SourceDir)Addons\RadminViewer.xml'/>
        </Component>
        <Component Id="WMIViewer.xml" Guid="DAB9A6A5-53B6-442E-85A2-5D4493800962">
          <File Id='WMIViewer.xml' KeyPath='yes' Source='$(var.SourceDir)Addons\WMIViewer.xml'/>
        </Component>
      </Directory>
    </DirectoryRef>
  </Fragment>
</Wix>