<?xml version="1.0" encoding="utf-8"?>
<?include Defines.wxi ?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id="INSTALLDIR">
      <Component Id="LanExchange.exe" Guid="6E872465-039C-455A-A413-74B4AE08E86D"> 
        <File Id='LanExchange.exe' Source='$(var.SourceDir)LanExchange.exe'/>
      </Component>
      <Component Id="WMIViewer.exe" Guid="A1CAFBF8-0BE2-4B63-82E4-E407DD851B02">
        <File Id='WMIViewer.exe' Source='$(var.SourceDir)WMIViewer.exe'/>
      </Component>
      <Component Id='LanExchange.SDK.dll' Guid="340AE8C6-C70D-49D0-BA91-6F1FFCD422B2">
        <File Id='LanExchange.SDK.dll' KeyPath='yes' Source='$(var.SourceDir)LanExchange.SDK.dll'/>
      </Component>
      <Component Id='LanExchange.OS.Windows.dll' Guid="8906C12B-803D-4A90-80D5-9CFB9EF260EF">
        <File Id="LanExchange.OS.Windows.dll" KeyPath="yes" Source="$(var.SourceDir)LanExchange.OS.Windows.dll"/>
      </Component>
      <Component Id="LanExchange.UI.WinForms.dll" Guid="7D1EFCD3-21F1-433D-8A23-9A9056A1FAD0">
        <File Id="LanExchange.UI.WinForms.dll" KeyPath="yes" Source="$(var.SourceDir)LanExchange.UI.WinForms.dll"/>
      </Component>
      <Component Id="$(var.PluginNetwork).dll" Guid="84728A8A-6A8D-4467-8296-A87CBB288667">
        <File Id='$(var.PluginNetwork).dll' KeyPath='yes' Source='$(var.SourceDir)$(var.PluginNetwork).dll'/>
      </Component>
      <Component Id="$(var.PluginUsers).dll" Guid="7671C1F3-76BF-400B-B8F5-D17A27B2E2B1">
        <File Id='$(var.PluginUsers).dll' KeyPath='yes' Source='$(var.SourceDir)$(var.PluginUsers).dll'/>
      </Component>
      <!--
      <Component Id="$(var.PluginWin7).dll" Guid="F800769F-5AAB-4407-9DA2-9B9EFCD91630">
        <File Id='$(var.PluginWin7).dll' KeyPath='yes' Source='$(var.PluginsDir)$(var.PluginWin7)\bin\$(var.Configuration)\$(var.PluginWin7).dll'/>
      </Component>
      <Component Id="Microsoft.WindowsAPICodePack.dll" Guid="7D336C44-CC15-4F3D-B0F7-CB77F0532E2B">
        <File Id='Microsoft.WindowsAPICodePack.dll' KeyPath='yes' Source='$(var.PluginsDir)$(var.PluginWin7)\bin\$(var.Configuration)\Microsoft.WindowsAPICodePack.dll'/>
      </Component>
      <Component Id="Microsoft.WindowsAPICodePack.Shell.dll" Guid="84320F78-8FD8-48E8-94A1-DBD2EF916F83">
        <File Id='Microsoft.WindowsAPICodePack.Shell.dll' KeyPath='yes' Source='$(var.PluginsDir)$(var.PluginWin7)\bin\$(var.Configuration)\Microsoft.WindowsAPICodePack.Shell.dll'/>
      </Component>
      -->
      <Directory Id='Addons' Name='Addons'>
        <Component Id="Network.xml" Guid="75CD74AF-D879-4C07-8450-9A43717E456C">
          <File Id='Network.xml' KeyPath='yes' Source='$(var.SourceDir)Addons\Network.xml'/>
        </Component>
        <Component Id="NetworkSystem.xml" Guid="B0F2D776-97EF-4CFC-A679-F600F48DEA37">
          <File Id='NetworkSystem.xml' KeyPath='yes' Source='$(var.SourceDir)Addons\NetworkSystem.xml'/>
        </Component>
        <Component Id="Users.xml" Guid="EC2AE651-9D91-4DF7-B14F-AB8F72BA695C">
          <File Id='Users.xml' KeyPath='yes' Source='$(var.SourceDir)Addons\Users.xml'/>
        </Component>
        <Component Id="NetworkRadmin.xml" Guid="D00E2705-5A80-4240-AAE1-3B68CF7C6C4D">
          <File Id='NetworkRadmin.xml' KeyPath='yes' Source='$(var.SourceDir)Addons\NetworkRadmin.xml'/>
        </Component>
        <Component Id="NetworkWMI.xml" Guid="DAB9A6A5-53B6-442E-85A2-5D4493800962">
          <File Id='NetworkWMI.xml' KeyPath='yes' Source='$(var.SourceDir)Addons\NetworkWMI.xml'/>
        </Component>
      </Directory>
      <Directory Id='Languages' Name='Languages'>
        <Component Id="Russian.po" Guid="3219E128-3D2C-4D6C-BD59-0B8FA4940EAB">
          <File Id="Russian.po" KeyPath="yes" Source="$(var.SourceDir)Languages\Russian.po"/>
        </Component>
        <Component Id="Kazakh.po" Guid="351088BF-22E4-4114-AA8A-5503367C8894">
          <File Id="Kazakh.po" KeyPath="yes" Source="$(var.SourceDir)Languages\Kazakh.po"/>
        </Component>
        <!--
        <Component Id="Esperanto.po" Guid="DB0B6820-716D-4F5C-B0FE-BE9CEE871ECD">
          <File Id="Esperanto.po" KeyPath="yes" Source="$(var.SourceDir)Languages\Esperanto.po"/>
        </Component>
        -->
        </Directory>
    </DirectoryRef>
  </Fragment>
</Wix>