<?xml version="1.0" encoding="utf-8"?>
<?include Defines.wxi ?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id="INSTALLDIR">
      <Component Id="SimpleInjector.dll" Guid="31ED3F31-215C-4141-8CBA-B43E74782338">
        <File Id='SimpleInjector.dll' Source='$(var.SourceDir)SimpleInjector.dll'/>
      </Component>
      <Component Id="SimpleInjector.xml" Guid="AE39D9C3-E190-43D5-A7E4-E434898E85C1">
        <File Id='SimpleInjector.xml' Source='$(var.SourceDir)SimpleInjector.xml'/>
      </Component>
      <Component Id="LanExchange.exe" Guid="6E872465-039C-455A-A413-74B4AE08E86D"> 
        <File Id='LanExchange.exe' Source='$(var.SourceDir)LanExchange.exe'/>
      </Component>
      <Component Id="WMIViewer.exe" Guid="A1CAFBF8-0BE2-4B63-82E4-E407DD851B02">
        <File Id='WMIViewer.exe' Source='$(var.SourceDir)WMIViewer.exe'/>
      </Component>
      <Component Id="ChangeLog.md" Guid="2EA3B674-C8D3-496E-A574-5312AFB185AB">
        <File Id='ChangeLog.md' Source='$(var.SolutionDir)ChangeLog.md'/>
      </Component>
      <Component Id='LanExchange.Presentation.Interfaces.dll' Guid="75A04444-D968-4ED1-B5F3-3F7147C42DB9">
        <File Id='LanExchange.Presentation.Interfaces.dll' KeyPath='yes' Source='$(var.LibDir)LanExchange.Presentation.Interfaces.dll'/>
      </Component>
      <Component Id='LanExchange.Presentation.Interfaces.xml' Guid="0FB57C41-31B9-431E-9483-151540156BD2">
        <File Id='LanExchange.Presentation.Interfaces.xml' KeyPath='yes' Source='$(var.LibDir)LanExchange.Presentation.Interfaces.xml'/>
      </Component>
      <Component Id='LanExchange.Application.Interfaces.dll' Guid="6822777B-6AD6-483F-BB9D-7B451AE69B21">
        <File Id='LanExchange.Application.Interfaces.dll' KeyPath='yes' Source='$(var.LibDir)LanExchange.Application.Interfaces.dll'/>
      </Component>
      <Component Id='LanExchange.Application.Interfaces.xml' Guid="D667A21F-D7FD-4F34-A220-FCE266333A3D">
        <File Id='LanExchange.Application.Interfaces.xml' KeyPath='yes' Source='$(var.LibDir)LanExchange.Application.Interfaces.xml'/>
      </Component>
      <Component Id='LanExchange.Domain.Interfaces.dll' Guid="CC4AD769-E0CF-401D-997E-20E919ACAD59">
        <File Id='LanExchange.Domain.Interfaces.dll' KeyPath='yes' Source='$(var.LibDir)LanExchange.Domain.Interfaces.dll'/>
      </Component>
      <Component Id='LanExchange.Domain.Interfaces.xml' Guid="D2C44590-08B5-4518-92C8-425404DBDECF">
        <File Id='LanExchange.Domain.Interfaces.xml' KeyPath='yes' Source='$(var.LibDir)LanExchange.Domain.Interfaces.xml'/>
      </Component>
      <Component Id="$(var.PluginNetwork).dll" Guid="84728A8A-6A8D-4467-8296-A87CBB288667">
        <File Id='$(var.PluginNetwork).dll' KeyPath='yes' Source='$(var.LibDir)$(var.PluginNetwork).dll'/>
      </Component>
      <Component Id="$(var.PluginUsers).dll" Guid="7671C1F3-76BF-400B-B8F5-D17A27B2E2B1">
        <File Id='$(var.PluginUsers).dll' KeyPath='yes' Source='$(var.LibDir)$(var.PluginUsers).dll'/>
      </Component>
      <Component Id="$(var.PluginFileSystem).dll" Guid="F6C95C7A-7752-4619-A252-24266D77D0E7">
        <File Id='$(var.PluginFileSystem).dll' KeyPath='yes' Source='$(var.LibDir)$(var.PluginFileSystem).dll'/>
      </Component>
      <Component Id="$(var.PluginShortcut).dll" Guid="58B4D7E9-670C-4087-B9BF-A75613AC1F4F">
        <File Id='$(var.PluginShortcut).dll' KeyPath='yes' Source='$(var.LibDir)$(var.PluginShortcut).dll'/>
      </Component>
      <Component Id="$(var.PluginWMI).dll" Guid="8FC7F9FC-1485-441A-A61A-6015430BAA6F">
        <File Id='$(var.PluginWMI).dll' KeyPath='yes' Source='$(var.LibDir)$(var.PluginWMI).dll'/>
      </Component>
      <!--
      <Component Id="$(var.PluginTranslit).dll" Guid="7FBA16AD-4D8B-4FF0-B25C-8F6194F834E7">
        <File Id='$(var.PluginTranslit).dll' KeyPath='yes' Source='$(var.SourceDir)$(var.PluginTranslit).dll'/>
      </Component>
      <Component Id="$(var.PluginWin7).dll" Guid="F800769F-5AAB-4407-9DA2-9B9EFCD91630">
        <File Id='$(var.PluginWin7).dll' KeyPath='yes' Source='$(var.PluginsDir)$(var.PluginWin7)\bin\$(var.Configuration)\$(var.PluginWin7).dll'/>
      </Component>
      <Component Id="Microsoft.WindowsAPICodePack.dll" Guid="7D336C44-CC15-4F3D-B0F7-CB77F0532E2B">
        <File Id='Microsoft.WindowsAPICodePack.dll' KeyPath='yes' Source='$(var.PluginsDir)$(var.PluginWin7)\bin\$(var.Configuration)\Microsoft.WindowsAPICodePack.dll'/>
      </Component>
      <Component Id="Microsoft.WindowsAPICodePack.Shell.dll" Guid="84320F78-8FD8-48E8-94A1-DBD2EF916F83">
        <File Id='Microsoft.WindowsAPICodePack.Shell.dll' KeyPath='yes' Source='$(var.PluginsDir)$(var.PluginWin7)\bin\$(var.Configuration)\Microsoft.WindowsAPICodePack.Shell.dll'/>
      </Component>
      -->
      <Directory Id='Addons' Name='Addons'>
        <Component Id="FileSystem.xml" Guid="CB5ADB8A-1A03-4E76-AE68-E969249ECD63">
          <File Id='FileSystem.xml' KeyPath='yes' Source='$(var.AddonsDir)FileSystem.xml'/>
        </Component>
        <Component Id="Commanders.xml" Guid="2F314571-BF17-4E52-A3FC-0A9B22AC8ACE">
          <File Id='Commanders.xml' KeyPath='yes' Source='$(var.AddonsDir)Commanders.xml'/>
        </Component>
        <Component Id="Network.xml" Guid="75CD74AF-D879-4C07-8450-9A43717E456C">
          <File Id='Network.xml' KeyPath='yes' Source='$(var.AddonsDir)Network.xml'/>
        </Component>
        <Component Id="NetworkSystem.xml" Guid="B0F2D776-97EF-4CFC-A679-F600F48DEA37">
          <File Id='NetworkSystem.xml' KeyPath='yes' Source='$(var.AddonsDir)NetworkSystem.xml'/>
        </Component>
        <Component Id="Users.xml" Guid="EC2AE651-9D91-4DF7-B14F-AB8F72BA695C">
          <File Id='Users.xml' KeyPath='yes' Source='$(var.AddonsDir)Users.xml'/>
        </Component>
        <Component Id="NetworkRadmin.xml" Guid="D00E2705-5A80-4240-AAE1-3B68CF7C6C4D">
          <File Id='NetworkRadmin.xml' KeyPath='yes' Source='$(var.AddonsDir)NetworkRadmin.xml'/>
        </Component>
        <Component Id="NetworkWMI.xml" Guid="DAB9A6A5-53B6-442E-85A2-5D4493800962">
          <File Id='NetworkWMI.xml' KeyPath='yes' Source='$(var.AddonsDir)NetworkWMI.xml'/>
        </Component>
      </Directory>
      <Directory Id='Languages' Name='Languages'>
        <Component Id="Russian.po" Guid="3219E128-3D2C-4D6C-BD59-0B8FA4940EAB">
          <File Id="Russian.po" KeyPath="yes" Source="$(var.LangDir)Russian.po"/>
        </Component>
        <Component Id="Kazakh.po" Guid="351088BF-22E4-4114-AA8A-5503367C8894">
          <File Id="Kazakh.po" KeyPath="yes" Source="$(var.LangDir)Kazakh.po"/>
        </Component>
        <Component Id="Esperanto.po" Guid="DB0B6820-716D-4F5C-B0FE-BE9CEE871ECD">
          <File Id="Esperanto.po" KeyPath="yes" Source="$(var.LangDir)Esperanto.po"/>
        </Component>
        <Component Id="Ukrainian.po" Guid="3C4EA109-BA26-4C06-8667-F7378E0C2C05">
          <File Id="Ukrainian.po" KeyPath="yes" Source="$(var.LangDir)Ukrainian.po"/>
        </Component>
        <!-- Extra tranlations -->
        <!--
        <Component Id="Russian_latin.po" Guid="25B4F58D-630C-43F3-B9F9-D2B2E059EFD7">
          <File Id="Russian_latin.po" KeyPath="yes" Source="$(var.LangDir)Russian_latin.po"/>
        </Component>
        <Component Id="Russian_game.po" Guid="5DF40AE1-17B2-49B6-8717-C7C7D1D075BD">
          <File Id="Russian_game.po" KeyPath="yes" Source="$(var.LangDir)Russian_game.po"/>
        </Component>
        <Component Id="Kazakh_latin.po" Guid="D3BB9F94-AA01-4565-9862-0954A4B5C447">
          <File Id="Kazakh_latin.po" KeyPath="yes" Source="$(var.LangDir)Kazakh_latin.po"/>
        </Component>
        <Component Id="Kazakh_arabic.po" Guid="9999EF65-B4F3-4BE0-8EFF-4CAAEF80C58F">
          <File Id="Kazakh_arabic.po" KeyPath="yes" Source="$(var.LangDir)Kazakh_arabic.po"/>
        </Component>
        -->
      </Directory>
    </DirectoryRef>
  </Fragment>
</Wix>